@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Fira+Sans&family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;600&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,700;1,400;1,800&family=Red+Hat+Display:wght@500;700;900&family=Roboto&family=Ubuntu:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: hsl(0, 0%, 86%);
    
}

main{
    max-width: 700px;
    
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 1rem 1rem 5rem;
}

.input_area
{
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    padding-bottom: 2rem;
}

.input_area h4
{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: .6rem;
    letter-spacing: 2px;
    color: hsl(0, 1%, 44%);
    margin-bottom: 5px;
}

.input_area input
{
    width: 6rem;
    height: 2.5rem;
    border: 1px solid hsl(0, 0%, 86%);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_area input[type = number]
{
    -moz-appearance: textfield;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 5px;
    outline: none;
    margin-bottom: .5rem;
}

.input_area input::placeholder
{
    color: hsl(0, 1%, 44%);
    font-size: 1.4rem;
    text-align: center;
}
.input_area input:focus
{
    border: 1px solid hsl(259, 100%, 65%);
} 


small{
    color: red;
    font-style: italic;
    font-size: .64rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}




.btncon
{
    position: relative;
    top: -25px;
    float: right;
    
}
.btncon button{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);

}

.btncon button:hover{
    background-color: black;
}

.btncon button svg{
    width: 1.5rem;
}

.output_area
{
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.output_area span
{
    letter-spacing: .8rem;
    color: hsl(259, 100%, 65%);
}

.attribution
{
    margin-top: 1rem;
    font-family: inherit;
    font-weight: 400;
    font-style: oblique;
}


@media screen and (max-width: 550px) {
    main{
       width: 80%;
    }   

    .btncon
    {
        left: -50%;
    }
    .attribution
    {
        font-size: .7rem;
        
    }
}

@media screen and (max-width: 422px) {
    main{
        width: 70%;
     }  
    .input_area
    {
        gap: 1rem;
    }
    .input_area input
    {
        width: 4rem;
    }
    .output_area
    {
        font-size: 1.1rem;
    }
}